<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Management System</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 font-sans">

    <!-- Navbar -->
    {% include 'navbar.html' %}

    {% block content %} {% endblock %} 

     <!-- Footer -->
      <br><br>
     <footer class="bg-gray-800 text-white text-center py-4">
        <p>&copy; 2024 Property Management System. All rights reserved.</p>
    </footer>
    
</body>
</html>
